@charset "UTF-8";
h1{
text-align:center;
margin-top: 45px;
border: 1px solid blue;
opacity: 0.6;
background-color: #9f2 ;
font-family: 'Domine', serif;
color:#826;
border-radius: 20px;

}
#btn {
text-align:center;
margin-top: 50px;
border: 1px solid blue;
opacity: 0.6;
background-color: #9f2 ;
font-family: 'Domine', serif;
color:#826;
border-radius: 20px;

}

body {
  font-family: 'Domine', serif;
color:#826;  
background-color: white;
}
img{
	

	width:150px;
	height:150px;
	
}
.row{
	margin-top:20px;
	
	
	
}
.col-sm-4{
	
	background-color: light blue;
	
}

