@charset "UTF-8";
h1{
text-align:center;
margin-top: 45px;
border: 1px solid blue;
opacity: 0.6;
background-color: #9f2 ;
font-family: 'Domine', serif;
color:#826;
border-radius: 20px;

}
#btn {
text-align:center;
margin-top: 50px;
border: 1px solid blue;
opacity: 0.6;
background-color: #9f2 ;
font-family: 'Domine', serif;
color:#826;
border-radius: 20px;

}

body {
    
background-color: white;
}