@charset "UTF-8";
h1{
text-align:center;
margin-top: 45px;
border: 1px solid blue;
opacity: 0.8;
background-color: #3465a4 ;
font-family: 'Domine', serif;
color:#ef2929;
border-radius: 20px;

}
.add{


opacity: 0.6;

font-family: 'Domine', serif;
color:#000000;


}

body {
  font-family: 'Domine', serif;
color:#826;  
background-color: white;
}
img{
	

	width:150px;
	height:150px;
	
}
.row{
	margin-top:20px;
	
	
	
}
.col-sm-4{
	
	background-color: light blue;
	
}

